html, body{
	height: 100vh;
	margin: 0;
	position: relative;
	font-family: 'Hiragino Sans GB Normal', 微软雅黑, 'Tangerine', serif;
	font-size:15px;
}

.full-screen{
	background-image: url("../image/bg.jpg"); 
	height:100vh;
	width:100vw;
	background-size: cover;
	background-position: center;
	position: relative;
}

.initiative-viewport{
	position: absolute;
	height:calc(100% - 4rem);
	right:100px;
	overflow-y: scroll;
	margin:2rem 0;
	padding:0 2rem;
}

.initiative-bar .entity{
	height:10rem;
	width:15rem;
	border: 7px solid #000;
	margin-top:1rem;
	border-radius: 7px;
	-webkit-box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
	position: relative;
	background-image: url("../image/board.jpg");
	background-size: contain;
	background-repeat: repeat-y; 
}
.initiative-bar .entity:last-child{
	transform: scale(1.08);
}
		
.entity .icon{
	width:60px;
	height:60px;
	top:0;
	right:0;
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('../image/npc.jpeg');
}
.entity.fighter .icon{
	background-image: url('../image/fighter.jpeg');
}
.entity.paladin .icon{
	background-image: url('../image/paladin.jpeg');
}
.entity.wizard .icon{
	background-image: url('../image/wizard.jpeg');
}
.entity.bard .icon{
	background-image: url('../image/bard.jpeg');
}
.entity.mob .icon{
	background-image: url('../image/mob.svg');
}

.entity .initiative{
	position: absolute;
	top:0;
	left:0;
	width:60px;
	height:60px;
	font-size: 2.5rem;
	display: flex;
	justify-content: center;
    align-items: center;
    color:white;
    font-weight: 900;
    background: transparent;
	font-family: 'Hiragino Sans GB Normal', 微软雅黑, 'Tangerine', serif;
	border:none;
	text-align: center;
	padding:0;
	line-height: 60px;
}
.entity .initiative:focus{
	outline: none !important;
}
.entity .name{
	position: absolute;
	top:60px;
	left:0;
	width:100%;
	height:60px;
	font-size: 1.75rem;
	text-align: center;
	display: flex;
	justify-content: center;
    align-items: center;
    font-weight: 600;
    color:white;
}

.entity.player{
	border-color: #13eb13;
}
.entity.player-control{
	border-color: #1313eb;
}


.entity.npc{
	border-color: #13ebeb;
}

.entity.mob{
	border-color: #eb1313;
}

.entity-list{
	position: absolute;
	left:100px;
	top:100px;
}
.entity-list .entity{
	background-image: url("../image/board.jpg");
	background-size: cover;
	background-repeat: repeat-y; 
	height:4rem;
	width:12rem;
	border: 3px solid #000;
	margin-top: 1rem;
	border-radius: 3px;
	position: relative;
}
.entity-list .icon{
	width:20px;
	height:20px;
}
.entity-list input.name{
	background: transparent;
	left:60px;
	top:0;
	line-height: 30px;
	border:none;
	font-family: 'Hiragino Sans GB Normal', 微软雅黑, 'Tangerine', serif;
	width: calc( 100% - 60px );
}
.entity-list input.name:focus{
	outline: none !important;
}
.entity-list .initiative
.grey-shade{
	opacity: 0.4;
}




.button{
	cursor: pointer;
	width:140px;
	height:40px;
	background-color: #13eb13;
	border-radius: 10px;
	font-family: 'Public Sans';
	text-align: center;
	display: flex;
	justify-content: center;
    align-items: center;
    position: absolute;
}

.next{
	bottom: 160px;
	left:100px;

}

.start{
	width: 60px;
	bottom: 100px;
	left: 100px;
	background-color:#eb1313;
}

.reset-all{
	display: none;
}

.reset-monsters{
	display: none;
}

.resort{
	bottom: 220px;
	left:100px;
	background-color:#eb1313;
}

.stop{
	width: 60px;
	bottom: 100px;
	left: 180px;
}

.current-entity .entity{
	height:10rem;
	width:15rem;
	border: 7px solid #000;
	margin-top:1rem;
	border-radius: 7px;
	-webkit-box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
	position: relative;
	background-image: url("../image/board.jpg");
	background-size: contain;
	background-repeat: repeat-y; 

	display: none;
}

.game-stopped .stop,
.game-stopped .next{
	background-color:#eb1313;
}

.game-stopped .start,
.game-stopped .resort{
	background-color:#13eb13;
}

.init-counter.entity .initiative{
	width:100%;
	height:100%;
	font-size: 6rem;
}


.pdf-card{
	height:100vh;
	width:50vw;
}

.add-to-list{
	position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    font-size: 2rem;
    font-family: Lato;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}

.remove-from-list{
	position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    font-size: 1.2rem;
    font-family: Lato;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}